@page {
	margin-left: 41mm;
	margin-right: 48mm;
	margin-top: 35mm;
	margin-bottom: 35mm;
	size: A4 portrait;
}

html {
	font-family: serif;
	font-size: 9.3pt;
	text-align: justify;
}

/* Block of code */
pre code {
	display: block;
	padding: 4px;
	margin-left: 3.3em;

	/* No justification for code */
	text-align: left;

	/* Since we have nowrap on here, let's reduce the font size */
	font-size: 0.8em;
}

/* Inline code and inline filename */
code.code, code.filename {
	font-family: monospace;

	font-size: 0.9em;
}

code.code {
	/* Span padding doesn't have a height in dompdf, raise ticket */
	padding: 0 3px;
	/* A padding of 3px should work, but this is a good dompdf fix for now */
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

/* Both inline and block */
pre code, code.code {
	background-color: #eeeeee;	
}

#header {
	margin-top: 8em;
	margin-bottom: 4em;
	text-align: center;
}

#header h1, #header h2, #header h3 {
	font-weight: lighter;
}

/* The header levels 1-3 are used for the title block */
#header h1 {
	font-size: 2em;
}
#header h2 {
	font-size: 1.6em;
}
#header h3 {
	font-size: 1.2em;
}

h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.1em;
}

/* Don't leave a heading dangling at the end */
h1, h2 {
	page-break-after: avoid;	
}

div.page-break {
	page-break-before: always;
}

li {
	/* Try to avoid breaking inside a bullet */
	page-break-inside: avoid;
}

ul {
	/* Try to avoid breaking before a bullet list */
	page-break-before: avoid;
	
	/* It would be nice to avoid bullet items on their own, not sure how to do this */
}
