/**
 * @todo
 *
 * Paragraph keep together (for bullets)
 * Paragraph keep with next (for non-bullets)
 *		OR handle orphans/widows
 * Git rev number and date in footer
 * Switch to Computer Modern font
 *
 * Done:
 *
 * Title/author block
 * Special margin for author block
 * Page size as A4 portrait
 * Reset margins
 * Font style
 * Font size
 * Formatting for filenames
 * Formatting for inline code
 * Formatting for code blocks
 * Force page break between intro and content
 * Page numbers in footer
 * Investigate non-deliberate paragraphs in bullets
 */

html {
	font-family: serif;
	font-size: 9.3pt;
	text-align: justify;
}

/* Block of code */
pre code {
	display: block;
	padding: 4px;
	margin-left: 3.3em;
}

/* Inline code and inline filename */
code.code, code.filename {
	font-family: monospace;
	padding: 1px;
}

/* Both inline and block */
pre code, code.code {
	background-color: #eeeeee;	
}

#header {
	margin-top: 8em;
	margin-bottom: 4em;
	text-align: center;
}

#header h1, #header h2, #header h3 {
	font-weight: lighter;
}

#header h1 {
	font-size: 2em;
}

#header h2 {
	font-size: 1.6em;
}

#header h3 {
	font-size: 1.2em;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.1em;
}

div.page-break {
	page-break-before: always;
}

li {
	/* Try to avoid breaking inside a bullet, doesn't work for me */
	break-inside: avoid-page;
}

ul {
	/* Try to avoid breaking before a bullet list, doesn't work for me */
	page-break-after: avoid;
}

p {
	/* Not supported by Webkit: https://developer.mozilla.org/en-US/docs/Web/CSS/orphans */
	orphans: 2;
}