/**
 * @todo
 *
 * Paragraph keep together (for bullets)
 * Paragraph keep with next (for non-bullets)
 *		OR handle orphans/widows
 * Git rev number and date in footer
 * Switch to Computer Modern font
 *
 * Done:
 *
 * Title/author block
 * Special margin for author block
 * Page size as A4 portrait
 * Reset margins
 * Font style
 * Font size
 * Formatting for filenames
 * Formatting for inline code
 * Formatting for code blocks
 * Force page break between intro and content
 * Page numbers in footer
 * Investigate non-deliberate paragraphs in bullets
 */

@page {
	margin-left: 41mm;
	margin-right: 48mm;
	margin-top: 35mm;
	margin-bottom: 35mm;
	size: A4 portrait;
}

html {
	font-family: serif;
	font-size: 9.3pt;
	text-align: justify;
}

/* Block of code */
pre code {
	display: block;
	padding: 4px;
	margin-left: 3.3em;
}

/* Inline code and inline filename */
code.code, code.filename {
	font-family: monospace;
	padding: 1px;
}

/* Both inline and block */
pre code, code.code {
	background-color: #eeeeee;	
}

#header {
	margin-top: 8em;
	margin-bottom: 4em;
	text-align: center;
}

#header h1, #header h2, #header h3 {
	font-weight: lighter;
}

/* The header levels 1-3 are used for the title block */
#header h1 {
	font-size: 2em;
}
#header h2 {
	font-size: 1.6em;
}
#header h3 {
	font-size: 1.2em;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.1em;

	/* Don't leave a heading dangling at the end */
	page-break-after: avoid;
}

div.page-break {
	page-break-before: always;
}

li {
	/* Try to avoid breaking inside a bullet */
	page-break-inside: avoid;

	/* I don't this this is supported by dompdf, but that's okay */
	/*orphans: 2;*/
}

ul {
	/* Try to avoid breaking before a bullet list */
	page-break-before: avoid;
}
